Node_Red_RPi_flows.json
[{"id":"45f9a171.7e658","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d16dc9f.41a0f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"477cb46f.51b72c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e0f52056.325bc","type":"ui_group","z":"","name":"RPi Zero","tab":"3bec34ab.c27f4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e661657.472578","type":"mqtt-broker","z":"","name":"Controls server","broker":"$(MQTTSERVERIP)","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bec34ab.c27f4c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dabdd185.14c78","type":"serial-port","z":"","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cb445b81.34d848","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44644766.155948","type":"serial-port","z":"","serialport":"/dev/rfcomm1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"acf47b40.0a4fc8","type":"inject","z":"45f9a171.7e658","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["7173b60e.7f5088","208467e0.211248"]]},{"id":"7173b60e.7f5088","type":"exec","z":"45f9a171.7e658","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":40,"wires":[["f0312e5b.7cea3"],[],[]]},{"id":"f0312e5b.7cea3","type":"function","z":"45f9a171.7e658","name":"Get GPU temp and time stamp","func":"var info = msg.payload;\nvar tempStartIndex  = info.indexOf('temp=');\nvar tempStopIndex   = info.indexOf('C') - 1;\nvar temp = Number(info.substring(tempStartIndex + 5, tempStopIndex));\n//var val = {temp : temp};\n// flow.set('Temperature',temp);\nvar payl = {data:temp, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":120,"wires":[["b5d3e069.6c9d6","ff31c27a.6a891"]]},{"id":"b5d3e069.6c9d6","type":"function","z":"45f9a171.7e658","name":"Get data","func":"var data = msg.payload.data\nreturn {payload:data};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["77d69e64.f10e7"]]},{"id":"77d69e64.f10e7","type":"ui_gauge","z":"45f9a171.7e658","name":"","group":"e0f52056.325bc","order":0,"width":0,"height":0,"gtype":"gage","title":"GPU Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"ff31c27a.6a891","type":"mqtt out","z":"45f9a171.7e658","name":"","topic":"sergeispizero/systeminfo/gputemp","qos":"0","retain":"","broker":"8e661657.472578","x":200,"y":220,"wires":[]},{"id":"a746c474.ab05a8","type":"serial in","z":"8d16dc9f.41a0f","name":"/dev/rfcomm0","serial":"dabdd185.14c78","x":90,"y":40,"wires":[["ca28d0a6.039da","4d25c5aa.16411c"]]},{"id":"da364b01.093458","type":"serial out","z":"8d16dc9f.41a0f","name":"Serial port","serial":"dabdd185.14c78","x":350,"y":360,"wires":[]},{"id":"cb72956c.38d688","type":"inject","z":"8d16dc9f.41a0f","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payloadType":"str","x":210,"y":200,"wires":[["53bcea86.9cbc04"]]},{"id":"53bcea86.9cbc04","type":"exec","z":"8d16dc9f.41a0f","command":"sudo rfcomm connect hci0 00:14:03:05:5A:ED","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth 1 connect","x":440,"y":220,"wires":[[],[],[]]},{"id":"ca28d0a6.039da","type":"ui_gauge","z":"8d16dc9f.41a0f","name":"","group":"e0f52056.325bc","order":2,"width":0,"height":0,"gtype":"gage","title":"TC1 temperature, C","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":40,"wires":[]},{"id":"4d25c5aa.16411c","type":"function","z":"8d16dc9f.41a0f","name":"Make a JSON object","func":"var info = msg.payload;\n//var tempStartIndex  = info.indexOf('temp=');\nvar tempStopIndex   = info.indexOf('&');\nvar temp_r = Number(info.substring(0, tempStopIndex));\nvar info1 = info.substring(tempStopIndex+1);\ntempStopIndex   = info1.indexOf('&');\nvar temp_s = Number(info1.substring(0, tempStopIndex));\nvar info2 = info1.substring(tempStopIndex+1);\ntempStopIndex   = info2.indexOf('&');\nvar heater_on = Number(info2.substring(0, tempStopIndex));\nvar info3 = info2.substring(tempStopIndex+1);\nvar heart_b = Number(info3);\nvar data_payl = {temp_read:temp_r, temp_set:temp_s, heater_on:heater_on, heart_beat:heart_b};\nvar payl = {data:data_payl, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["9fbed831.c75e78"]]},{"id":"9fbed831.c75e78","type":"mqtt out","z":"8d16dc9f.41a0f","name":"","topic":"sergeispizero/teensy1/TC1","qos":"","retain":"","broker":"8e661657.472578","x":440,"y":100,"wires":[]},{"id":"8e716eba.45c32","type":"mqtt in","z":"8d16dc9f.41a0f","name":"","topic":"sergeispizero/bluetooth1/reset","qos":"2","datatype":"auto","broker":"8e661657.472578","x":140,"y":240,"wires":[["53bcea86.9cbc04"]]},{"id":"33f75445.3ddcbc","type":"mqtt in","z":"8d16dc9f.41a0f","name":"","topic":"sergeispizero/teensy1/tempsetpoint1","qos":"2","datatype":"auto","broker":"8e661657.472578","x":150,"y":300,"wires":[["8c33f263.def8b"]]},{"id":"8c33f263.def8b","type":"function","z":"8d16dc9f.41a0f","name":"","func":"var data = JSON.parse(msg.payload).data\nvar data1 = 'T=' + data.toString();\nreturn {payload:data1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":360,"wires":[["da364b01.093458"]]},{"id":"208467e0.211248","type":"exec","z":"45f9a171.7e658","command":"iwconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":120,"y":320,"wires":[["3e483bcc.a55924"],[],[]]},{"id":"3e483bcc.a55924","type":"function","z":"45f9a171.7e658","name":"Get WiFi signal strength","func":"var info = msg.payload;\nvar tempStartIndex  = info.indexOf('Link Quality=');\nvar tempStopIndex   = info.indexOf('Signal') - 2;\nvar temp = info.substring(tempStartIndex+13, tempStopIndex);\n//var val = {temp : temp};\n// flow.set('Temperature',temp);\nvar payl = {data:temp, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["156db3a0.498f5c"]]},{"id":"5ca65116.e2cf8","type":"inject","z":"477cb46f.51b72c","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":210,"y":40,"wires":[["9aeae102.c5282"]]},{"id":"9aeae102.c5282","type":"exec","z":"477cb46f.51b72c","command":"sudo rfcomm connect 1 00:14:03:05:5A:55","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth 2 connect","x":500,"y":60,"wires":[[],[],[]]},{"id":"7803f97d.2650d8","type":"serial out","z":"477cb46f.51b72c","name":"","serial":"44644766.155948","x":560,"y":240,"wires":[]},{"id":"943b06dc.eb2978","type":"serial in","z":"477cb46f.51b72c","name":"","serial":"44644766.155948","x":90,"y":160,"wires":[["f0a84178.25185"]]},{"id":"156db3a0.498f5c","type":"mqtt out","z":"45f9a171.7e658","name":"","topic":"sergeispizero/systeminfo/wifisignallevel","qos":"0","retain":"","broker":"8e661657.472578","x":640,"y":320,"wires":[]},{"id":"5eb4e47.fc6731c","type":"mqtt in","z":"477cb46f.51b72c","name":"","topic":"sergeispizero/bluetooth2/reset","qos":"2","datatype":"auto","broker":"8e661657.472578","x":140,"y":100,"wires":[["9aeae102.c5282"]]},{"id":"f0a84178.25185","type":"function","z":"477cb46f.51b72c","name":"Make a JSON object","func":"var info = msg.payload;\nvar tempStopIndex   = info.indexOf('&');\nvar temp_r1 = Number(info.substring(0, tempStopIndex));\nvar info1 = info.substring(tempStopIndex+1);\ntempStopIndex   = info1.indexOf('&');\nvar temp_r2 = Number(info1.substring(0, tempStopIndex));\nvar info2 = info1.substring(tempStopIndex+1);\ntempStopIndex   = info2.indexOf('&');\nvar heart_b = Number(info2.substring(0, tempStopIndex));\nvar info3 = info2.substring(tempStopIndex+1);\nvar teensy_temp = Number(info3);\nvar data_payl = {temp_read1:temp_r1, temp_read2:temp_r2, temp_read3:teensy_temp, heart_beat:heart_b};\nvar payl = {data:data_payl, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["cb34cef8.310e8"]]},{"id":"cb34cef8.310e8","type":"mqtt out","z":"477cb46f.51b72c","name":"","topic":"sergeispizero/teensy2/TC1","qos":"2","retain":"","broker":"8e661657.472578","x":520,"y":160,"wires":[]},{"id":"d5cd655a.4325b8","type":"mqtt in","z":"477cb46f.51b72c","name":"","topic":"sergeispizero/teensy2/SW1","qos":"1","datatype":"auto","broker":"8e661657.472578","x":130,"y":220,"wires":[["6a57f752.39e448"]]},{"id":"b6e3528e.0064e","type":"debug","z":"477cb46f.51b72c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":380,"wires":[]},{"id":"6a57f752.39e448","type":"function","z":"477cb46f.51b72c","name":"","func":"var data = msg.payload;\nvar data1 = 'S1=0';\nif(data === 'true') {\n    data1 = 'S1=1';\n} else if(data === 'false') {\n    data1 = 'S1=0';\n}\n\nreturn {payload:data1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["7803f97d.2650d8"]]},{"id":"fc9d0106.9d578","type":"mqtt in","z":"477cb46f.51b72c","name":"","topic":"sergeispizero/teensy2/SW2","qos":"1","datatype":"auto","broker":"8e661657.472578","x":130,"y":280,"wires":[["13020e51.45a182"]]},{"id":"13020e51.45a182","type":"function","z":"477cb46f.51b72c","name":"","func":"var data = msg.payload;\nvar data1 = 'S2=0';\nif(data === 'true') {\n    data1 = 'S2=1';\n} else if(data === 'false') {\n    data1 = 'S2=0';\n}\n\nreturn {payload:data1};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["7803f97d.2650d8"]]},{"id":"dd7a96af.114428","type":"debug","z":"45f9a171.7e658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"fa5cec2f.c887a","type":"inject","z":"477cb46f.51b72c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"str","x":100,"y":360,"wires":[["6a57f752.39e448"]]},{"id":"b3902104.542c","type":"inject","z":"477cb46f.51b72c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"str","x":100,"y":420,"wires":[["6a57f752.39e448"]]}]
